/* Box Model Hack */
* {
    box-sizing: border-box;
}

:root {
    /*COLOR*/
    --bg-primary: white;

    --fc-primary: #3D4449;
    --fc-secondary: #7f888f;
    --fc-terceary: #48BB76;

    /*FONT*/
    --ff-primary: 'Roboto Slab', sans-serif;

    --fs-xl: 3.5rem;
    --fs-600: 1.75rem;
    --fs-400: 1.25rem;
    --fs-300: 1.125rem;
    --fs-200: 1rem;
    --fs-100: 0.8rem;


    --fw-primary: 700;
    --fw-secondary: 400;
}

@media (min-width: 40em) {
    :root {
        --fs-xl: 5rem;
        --fs-600: 2rem;
        --fs-400: 1.5rem;
        --fs-300: 1.25rem;
        --fs-200: 1.125rem;
        --fs-100: 1rem;
    }
}

/******************************************
/* BASE STYLES
/*******************************************/

 * {
    font-family: var(--ff-primary);
    font-size: var(--fw-secondary);
    line-height: 1.65;
    color: var(--fc-secondary)
}

.header-text {
    font-size: var(--fs-100);
    color: var(--fc-secondary);
}

strong {
    color: var(--fc-primary);
}

i {
    font-size: var(--fs-200);
}

/******************************************
/* LAYOUT
/*******************************************/

* {
    margin: 0;
    padding: 0;
}

.container {
    margin-inline: auto;
    width: min(90%, 75.5rem);
}
  
html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding-block: 1.25rem;
    align-items: center;
}

.container-header-text {
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.navlist-flex * {
    display: flex;
    gap: 1.8rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

header {
    border-bottom: 0.313rem solid var(--fc-terceary);
}